html{
  scroll-behavior : smooth;
}
body {
  font-family     : 'Noto Sans', sans-serif;
}

#title{
 
  background-color: #5c94bd;
  color           : #fff;

}

.container-fluid {
  padding         : 3% 15%
}

#title h1 {
  margin-top      : 50px;
  font-family     : 'Noto Sans', sans-serif;
  font-weight     :900;
  font-size       : 3.5rem;
  line-height     : 1.5;
}

#title h3 {
  font-family     : 'Noto Sans', sans-serif;
  font-weight     :900;
}

#title p {
  color           : #8f8f8f
}
#title .navbar-brand h2{
  font-family     :"Ubuntu";
  font-size       : 3.5rem;
  font-weight     : bold;
}
#title .nav-item{
  padding         : 0 18px;
}

#title .nav-link{
  font-size       : 1.2rem;
  font-weight     : bold;
}
/* Navigation Bar */

#title .navbar{
  padding         : 0 1 1.5rem;
}





/* Download-Buttons */

.download-button{
  margin          : 5% 3% 5% 0;
}

/* title-image */

.title-image{
  margin-top      : 50px;
  width           :70%;
  transform       : rotate(25deg);
  margin-left     : 100px;
}

/* features section */

#features{
  padding         : 7% 15%;
}

.feature-box{
  text-align      : center;
  padding         : 5%;
}

.icon{
  color           : #5c94bd;
  margin-bottom   :1rem;
}

.icon             :hover{
  color           : #1a3e59;
}
.page-footer{
  background-color: #5c94bd;
}
.page-footer h2 {

  font-family     : 'Noto Sans', sans-serif;
  font-weight     :900;
  font-size       : 3.5rem;
  line-height     : 1.5;
}

.page-footer h5 {
  font-family     : 'Noto Sans', sans-serif;
  font-weight     :900;
}

.page-footer p {
  color           : #ffffff;
}


.back-to-top {
  position        : fixed;
  bottom          : 25px;
  right           : 25px;
  display         : none;
  background-color: #5c94bd;
}