section#tuto {
    font-family       : 'Noto Sans', sans-serif;
    background-color  :#F0F1F7;
    
}
section#tuto img{
    -webkit-transform : scale(1);
	transform         : scale(1);
	-webkit-transition: .3s ease-in-out;
	transition        : .3s ease-in-out;
}
section#tuto figure   :hover img{
    -webkit-transform : scale(1.3);
	transform         : scale(1.3);
}